.container {
    font-family: 'IM Fell Great Primer SC', serif;
    
}

.jumbotron {
    background-color: transparent;
    border: 2px solid #84ADBC;
}

#card {
    width: 18rem;
    border-color: transparent;
    font-size: 20px;
}
